@use '../color.scss';
$alert-themes: (
  success: color.$emerald-500,
  danger: color.$red-500,
);
#alert-container {
  &.hidden {
    display: none;
  }
}
.alert {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
  padding: 12px 16px;
  border-left: 4px solid;
  border-radius: 4px;

  .message {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .close-button {
    display: block;
    height: fit-content;
    color: inherit;
    padding: 4px;
    border-radius: 50%;
    svg {
      width: 16px;
      height: 16px;
      display: block;
    }
  }
  @each $key, $value in $alert-themes {
    &.alert-#{$key} {
      background-color: rgba($value, 0.15);
      border-color: $value;
      color: $value;
      .close-button {
        background-color: rgba($value, 0.15);
      }
    }
  }
}
