@use '../color.scss';
@use '../typography.scss';
#book-list {
  column-count: 1;
  list-style-type: none;
  gap: 16px;
  @media screen and (min-width: 768px) {
    column-count: 2;
  }
  &.no-book {
    display: grid;
    place-items: center;
    height: 100%;
    .message {
      text-align: center;
      @include typography.body_text;
      b {
        color: darken(color.$gray-700, 10%);
      }
    }
  } 
  .book-list-item {
    background-color: color.$white;
    border-radius: 4px;
    padding: 24px;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    width: 100%;
    margin-bottom: 16px;
    .info {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .title {
        @include typography.heading_text;
      }
      .author {
        @include typography.body_text_medium;
      }
      .published-year {
        @include typography.body_text_medium;
      }
    }
    .actions {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
    }
  }
}
