@use '../color.scss';
@use '../typography.scss';
.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  label {
    @include typography.body_text;
  }
  input[type='text'], input[type='number'] {
    padding: 8px 16px;
    border-radius: 4px;
    @include typography.body_text;
    border: 1px solid transparent;
    cursor: text;
    &:focus {
        border: 1px solid color.$indigo-500;
    }
  }
}
