@use '../color.scss';
.search-input-container {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  background-color: color.$white;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;
  width: 100%;
  @media screen and (min-width: 640px) {
    width: unset;
  }
  cursor: text;
  &.focused {
    border: 1px solid color.$indigo-500;
  }
  input {
    color: color.$gray-600;
    cursor: text;
    font-size: 14px;
    flex-grow: 1;
    background-color: transparent;
    @media screen and (min-width: 500px) {
      font-size: 16px;
    }
    &::placeholder {
      color: color.$gray-500;
    }
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      background: url(../../images/icons/x.svg) no-repeat 50% 50%;
      cursor: pointer;
    }
  }
}
