@use "../color.scss";
.shelf-selector {
    display: flex;
    padding: 8px;
    border-radius: 8px;
    background-color: color.$white;
    label {

        [name=shelf-selector] {
            display: none;
        }
        div {
            width: 100%;
            padding-top: 12px;
            padding-bottom: 12px;
            color: color.$gray-600;
            text-align: center;
            border-radius: 8px;
            font-size: 14px;
            cursor: pointer;
            user-select: none;
            @media screen and (min-width: 500px) {
                font-size: 16px;
                padding-top: 14px;
                padding-bottom: 14px;
            }
        }
        &.finished-read-option {
            flex-basis: 41.666%;
            @media screen and (min-width: 414px) {
                flex-basis: 50%;
            }
            [name=shelf-selector]:checked ~ div {
                background-color: color.$indigo-500;
                color: color.$white;
            }
        }
        &.unfinished-read-option {
            flex-grow: 1;
            [name=shelf-selector]:checked ~ div {
                background-color: color.$indigo-500;
                color: color.$white;
            }
        }
    }
}