@mixin container {
  padding-left: 24px;
  padding-right: 24px;
  @media screen and (min-width: 640px) {
    padding-left: 28px;
    padding-right: 28px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 72px;
    padding-right: 72px;
  }
  @media screen and (min-width: 1400px) {
    padding-left: 108px;
    padding-right: 108px;
  }
  @media screen and (min-width: 1550px) {
    padding-left: 192px;
    padding-right: 192px;
  }
  @media screen and (min-width: 1850px) {
    padding-left: 256px;
    padding-right: 256px;
  }
}
@mixin section_padding_y {
  padding-top: 36px;
  padding-bottom: 36px;
  @media screen and (min-width: 640px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1024px) {
    padding-top: 72px;
    padding-bottom: 72px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @media screen and (min-width: 1400px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
